:root {
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --background: #05010d;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background: var(--background);
  color: #fff;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.options-container {
  min-height: 100vh;
  position: relative;
}

.options-bg {
  background: url("../assets/background.jpg") var(--background);
  background-repeat: no-repeat;
  background-size: clamp(640px, 158.6vw + 45.31px, 1536px);
  background-position: 50% -44px;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.options-layout {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 64px;
  padding: 64px 0;
}

.options-title {
  color: #fff;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

.options-subtitle {
  color: #fff6;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.faq-wrapper {
  max-width: 700px;
  margin: 0 auto 64px;
}

.faq-subtitle {
  color: #fff6;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.faq-question {
  margin: 32px 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: relative;
}

.faq-answer {
  color: #78787c;
  opacity: 0;
  grid-template-rows: 0fr;
  padding-right: 32px;
  font-size: 15px;
  line-height: 22px;
  transition: grid-template-rows 0.2s, opacity 0.2s;
  display: grid;
}

.faq-answer[aria-hidden="false"] {
  opacity: 1;
  grid-template-rows: 1fr;
}

.faq-answer > div {
  overflow: hidden;
}

.faq-accordion {
  padding-top: 1px;
}

.faq-panel {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 1px solid #ffffff1a;
}

.faq-trigger {
  width: 100%;
  background: transparent;
  border: none;
  color: inherit;
  text-align: left;
  font: inherit;
}

.faq-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.4s;
}

.faq-arrow.expanded {
  transform: rotate(180deg);
}
